{{>header}}

<p>The purpose of this game is to get the X into the lower right corner and have all of the letters in alphabetical order.</p>

<table class="table-bordered">
    <tbody>
    <tr>
      <td>{{loc11}}</td>
      <td>{{loc12}}</td>
      <td>{{loc13}}</td>
    </tr>
    <tr>
      <td>{{loc21}}</td>
      <td>{{loc22}}</td>
      <td>{{loc23}}</td>
    </tr>
    <tr>
      <td>{{loc31}}</td>
      <td>{{loc32}}</td>
      <td>{{loc33}}</td>
    </tr>
    </tbody>
</table>

<br>
    {{#Move Left}}
        <a href="/left/{{puzzleString}}" class="btn btn-primary">Move Left</a><br>
    {{/Move Left}}

    {{#Move Right}}
        <a href="/right/{{puzzleString}}" class="btn btn-primary">Move Right</a><br>
    {{/Move Right}}

    {{#Move Up}}
        <a href="/up/{{puzzleString}}" class="btn btn-primary">Move Up</a><br>
    {{/Move Up}}

    {{#Move Down}}
        <a href="/down/{{puzzleString}}" class="btn btn-primary">Move Down</a><br>
    {{/Move Down}}

<br> <br>
{{^solution}}
<a href="/show_solution/{{puzzleString}}" class="btn btn-danger">Show Me The Solution</a>
{{/solution}}

{{#solution}}
<p> here is the solution chain </p>
{{actions}}
{{/solution}}


{{>footer}}